// $backc:#000;
// $color:rgb(59, 209, 59);
// $border:5px solid red;
// $marg:20px;
// $someVar: some_class;

$backImg_1: url('');
$backImg_2: url('');
$backImg_3: url('');
$backImg_4: url('');






